In [2]:
import requests
from bs4 import BeautifulSoup

In [3]:
soup = BeautifulSoup(requests.get('http://shaldom.com/price_new/').text, 'html.parser')

In [5]:
import pandas as pd

In [23]:
import chardet

In [54]:
chardet.detect(open('page_3.html', 'rb').read())['encoding']

'windows-1251'

In [90]:
df = pd.DataFrame()

In [ ]:
for i in range(97):
  print(i)
  df = df.append(pd.read_html(f'page_{i}.html', encoding='windows-1251')[0].drop(['Выбрать'], axis=1), ignore_index=True)

In [93]:
df.to_excel('shaldom.xlsx', index_label=False, index=False)

In [ ]:
for elem in list(df['Объект'].unique()):
  print(elem)

In [75]:
df_2 = pd.read_html('https://sknvek.ru/kvartiryi-v-prodazhe')

In [78]:
df_2 = df_2[0]

In [80]:
df_2['Количество комнат']= df_2['Количество комнат'].apply(lambda x: x[0])

In [83]:
df_2['Метраж'] = df_2['Метраж'].apply(lambda x: x.strip(' кв.м.'))

In [86]:
df_2.drop(['Unnamed: 4'], axis=1).to_excel('sknv.xlsx', index=False, index_label=False)

In [ ]:
for elem in df_2['Жилой комплекс'].unique():
  print(elem)